<h1>Creators<belonging-to></belonging-to></h1>
<list-options></list-options>
<item-count></item-count>
<ul class="creators list" infinite-scroll="loadMore()" infinite-scroll-distance="1" infinite-scroll-disabled="{{infiniteScrollDisabled}}">
    <li class="creator-item" ng-repeat="creator in creators">
        <a ng-if="creator.thumbnail" ng-href="/creators/{{creator.id}}"><img ng-src="{{creator.thumbnail}}" alt="{{creator.title}}"></a>
        <h3><a ng-href="/creators/{{creator.id}}">{{creator.title}}<a/></h3>
    </li>
</ul>
